#Create our necessary groups
gnewbg BT
gnewbg BC 

# Create the key map
newkmap pot
# Bind b to 'select' on our new key map
definekey pot b select
definekey pot backslash hsplit
definekey pot minus vsplit
definekey pot 0 only

# workspaces
definekey pot Right gnext
definekey pot Left gprev
definekey pot 0 only
definekey pot 1 gselect 1
definekey pot 2 gselect 2
definekey pot 3 gselect 3
definekey pot 4 gselect 4
definekey pot 5 gselect 5
definekey pot 6 gselect 6
definekey pot C-1 gmove 1
definekey pot C-2 gmove 2
definekey pot C-3 gmove 3
definekey pot C-4 gmove 4
definekey pot C-5 gmove 5
definekey pot C-6 gmove 6
definekey pot v exec sleep 1 && pdate=$(date +%s); maim -s ~/Pictures/${pdate}.png ; swappy -f ~/Pictures/${pdate}.png -o ~/Pictures/${pdate}-e.png

# Attach our keymap to the top level key map via C-x.

definekey top VoidSymbol readkey pot
